# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Debian package build outputs (if any)
*.deb

# RPM build outputs
rpmbuild/
*.rpm

# Windows build outputs
*.exe
assets/icon.ico

# Exclude dist folder from gitignore to track releases
!dist/
!dist/*

# System / Editor files
.DS_Store
*~
*.swp
